<ons-toolbar>
  <div class="left">
    <ons-toolbar-button (click)="openMenu()">
      <ons-icon icon="ion-navicon, material:md-menu"></ons-icon>
    </ons-toolbar-button>
  </div>
  <div class="center">ngx-onsenui-pwa</div>
</ons-toolbar>

<div class="header">
  <img src="./assets/logo.png" alt="angular-logo">
</div>
<ons-list-title>Angular Essential Links</ons-list-title>
<ons-list>
  <ons-list-item *ngFor="let item of essentialLinks" (click)="goTo(item.link)">
    <div class="left">
      <ons-icon fixed-width [attr.icon]="item.icon"></ons-icon>
    </div>
    <div class="center">{{ item.label }}</div>
  </ons-list-item>
</ons-list>

<ons-list-title>Angular Ecosystem</ons-list-title>
<ons-row>
  <ons-col>
    <ons-card (click)="goTo('https://cli.angular.io/')">Angular CLI</ons-card>
  </ons-col>
  <ons-col>
    <ons-card (click)="goTo('https://material.angular.io/')">Angular Material</ons-card>
  </ons-col>
</ons-row>
<ons-row>
  <ons-col>
    <ons-card (click)="goTo('https://github.com/ngrx/platform')">@ngrx/platform</ons-card>
  </ons-col>
  <ons-col>
    <ons-card (click)="goTo('https://github.com/AngularClass/awesome-angular')">awesome-angular</ons-card>
  </ons-col>
</ons-row>
