/* You can add global styles to this file, and also import other style files */
@import "~onsenui/css/onsenui.css";
@import "~onsenui/css/onsen-css-components.css";

.page--material .toolbar--white-content__center,
.page--material .toolbar-button--white-content {
  color: white;
}

.toolbar--material {
  background-color: #f44336;
}

.toolbar--transparent {
  background-color: initial;
}
